[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
geopandas = "*"
shapely = "*"
flask = "*"
requests = "*"
mapbox-vector-tile = "*"
pymbtiles = "*"
pillow-simd = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python raster_server.py"
